[Unit]
Description=Gunicorn instance to serve San Minipro Backend
After=network.target

[Service]
# 这里的 User 和 Group 根据实际情况修改，如果使用 root 部署则保留 root
User=root
Group=root
WorkingDirectory=/opt/projects/san_backend
Environment="PATH=/opt/projects/san_backend/.venv/bin"
ExecStart=/opt/projects/san_backend/.venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 app:app

[Install]
WantedBy=multi-user.target
